
.btn {
    padding: .6rem 1.5rem;
    font-size: 1.2rem;
}

section.cart {
    padding-bottom: 20vh;
    padding-top: 20vh;
}

section.cart i {
    color: whitesmoke;
}

section.cart img {
    width: 150px;
    height: 150px;
}

section.cart a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

section.cart .btn:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

section.cart {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

section.cart table {
    font-size: 1.5rem;
    text-align: center;
    border-collapse: collapse;
}

section.cart table thead {
    background-color: var(--second-color);
    
}

section.cart table thead th {
    color: whitesmoke;
}

section.cart td,
section.cart th {
    padding: 5px 50px;
    
}

section.cart table tfoot td {
    text-align: end;
}

