
/* HEADER */

header {
    background: linear-gradient( rgba(192,255,222,.8), rgba(192,255,222,.8)), url("../img/potted-plant.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    padding-bottom: 40vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

header p {
    font-size: 1.5rem;
}

/* MAIN */

main section.intro {
    margin: 2rem;
    /* background-image: url("img/fond.png"); */
    background-image: url("../img/fond.png");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}

main section.intro h2 {
    font-size: 3rem;
}

main section.intro img {
    width: 300px;
}

main section.intro .presentation {
    min-height: 500px;
    text-align: justify;
}

@media screen and (min-width:768px) {
    main section.intro {
        margin: 5rem;
        background-image: url("../img/fond.png");
        background-blend-mode: lighten;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main section.intro h2 {
        font-size: 5rem;
    }

    main section.intro .presentation p {
        width: 50%;
        text-align: justify;
        font-size: 1.2rem;
    }
}

main section.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/fond3.png");
    background-blend-mode: lighten;
    background-repeat:no-repeat;
    background-position: center;
    margin-bottom: 3rem;
}


main section.shop div.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

main section.shop h2 {
    text-align: center;
    font-size: 2rem;
}

main section.shop div.items div.item:hover {
    transform: scale(1.01);
    transition: 0.5s;
    box-shadow: 0px 5px 5px #e3e3e3;
}


main section.shop div.items div.item {
    width: 320px;
    margin: .5rem;
    border-radius: 5%;
    padding-bottom: .6rem;
    margin-bottom: 4rem;
    background-color: rgb(247 247 247);
    background-color: whitesmoke;
    
}

main section.shop div.items div.item div.image {
    height: 400px;
}

main section.shop div.items div.item div.image img {
    /* max-height: 400px; */
    height: 100%;
    width: 100%;
    border-top-left-radius:  5%;
    border-top-right-radius: 5%;
}

main section.shop div.items div.item div.descriptif {
    padding: .6rem;
    background-image: url("../img/fond2.png");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}

main section.shop div.items div.item .descriptif div:nth-of-type(1)  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.shop div.items div.item .descriptif div:nth-of-type(2) {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

main section.shop div.items div.item .descriptif div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main section.shop div.items div.item div.descriptif h3 {
    margin: 0;
}

main section.shop div.items div.item div.descriptif span {
    margin: 0;
    font-size: 1.4rem;
}

@media screen and (min-width:567px) {
    main section.shop div.items div.item div.descriptif {
        background-image: none;
    }
}

@media screen and (min-width:992px) {
    
    main section.shop {
        padding: 4rem;
        padding-top: 0;
        margin-bottom: 0;
    }

    main section.shop div.items div.item {
        margin: 1.5rem;
    }

    main section.shop div.items div.item div.descriptif {
        background-image: none;
    }

    main section.shop .btn-list {
        margin-top: 2rem;
    }
    


}


/* INFOS */



section.infos i, section.infos li a {
    color: var(--third-color);
}

section.infos li.form a{
    color: whitesmoke;
}

section.infos div {
    min-height: 300px;
    margin: 1rem;
    background-image: url("../img/leaf.png");
    background-repeat: no-repeat;
    background-position: left -25px top 20px;
    background-size: 400px;
}


section.infos .contacts {
    background-image: url("../img/leaf3.png");
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right;
    margin-top: 3rem;
} 


section.infos ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.infos li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}


@media screen and (min-width:992px) {
    section.infos {
        text-align: justify;
        padding: 5rem;
        padding-bottom: 0;
    }
    
    section.infos div {
        height: 300px;
        margin: 1rem;
        background-image: url("../img/leaf.png");
        background-repeat: no-repeat;
        background-position: right top 20px;
        background-size: 400px;
    }

    section.infos div p {
        width: 65%;
    }

    section.infos .contacts {
        background-image: url("../img/leaf3.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: end;
    } 

    section.infos .contacts div {
        margin: 1rem 0;
    }

    section.infos li {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
}