@media screen and (min-width: 769px) {

    header {
        background-image: none;
        padding-bottom: 0;
        margin-top: 6rem;
    }

}

h1 {
    font-size: 3rem;
}

input:not([type=submit]) {
    height: 1.5rem;
    border: 1px solid var(--main-color);
    font-size: 1.2rem;
    color: var(--main-color);
}

label {
    color: black;
    font-size: 1.2rem;
}

.input {
    text-align: center;
}

input.btn:hover {
    cursor: pointer;
}

.input {
    margin-top: 3rem;
    font-size: 1.2rem;
}

.identification {

    display: flex;
    flex-direction: column;
    background-image: url("../img/fond.png");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(201, 201, 201, 0.492);
    margin-top: 2rem;

}

.login {
    margin-left: auto;
    margin-right: auto;
}

.register {
    margin-top: 3rem;
    font-size: 1.2rem;
}

.register a{
    color: var(--main-color);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {

    .login {
        width: 600px;
    }

    .login input:not([type=submit]){
        width: 85%;
    }
}

