

main section.article {
    text-align: center;
}

main section.article div.image div.visuel img {
    width: 40rem;
}

main section.article div.descriptif h2 {
    margin-bottom: 0;
}

main section.article div.descriptif small {
    font-size: 1rem;
}


main section.article div.descriptif span.prix {
    font-size: 1.8rem;
}

main section.article div.descriptif p {
    font-size: 1.3rem;
}

main section.article div.descriptif div.taille {
    text-align: center;
}

main section.article div.descriptif div.taille img {
    width: 4rem;
    margin: 1rem;
    cursor: pointer;
    /* padding: 1rem; */
    border: 2px solid #f5f5f5;
    border-radius: 5rem;
}

main section.article div.descriptif div.taille img:hover {
    border: 2px solid #115e43;
    transition: 1s;
    
}

    
main section.article div.ajouter {
    text-align: center;
}

main section.article button {
    padding: 0.48rem;
    font-size: 1rem;
    color: whitesmoke;
    background-color: #227f5e;
    border: 2px solid #227f5e;
    border-radius: 10px;
    box-shadow: 0px 5px 2px #e3e3e3;

}

@media screen and (min-width: 1200px) {
    
    main section.article {
        display: flex;
        margin: 5rem;
        background-color: whitesmoke;
        /* min-width: 67rem; */
    }
    
    /* main section.article div.image {
        width: 100%;
    } */
    
    main section.article div.image div:first-of-type {
        display: flex;
        flex-direction: column;

        
    }
    
    main section.article div.image div:first-of-type img {
        cursor: pointer;
    }
    
    main section.article div.image div.visuel {
        box-shadow: 0px 2px 2px #e3e3e3;
        border-top-left-radius:  5%;
        border-bottom-left-radius: 5%;
    }
    main section.article div.image div.visuel img {
        width: 30rem;
        border-top-left-radius:  5%;
        border-bottom-left-radius: 5%;
    }
    
    main section.article div.image {
        display: flex;
        align-items: center;
    }
    
    main section.article div.descriptif {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        box-shadow: 2px 2px 2px #e3e3e3;
        border-top-right-radius:  5%;
        border-bottom-right-radius: 5%;
    
    }
    
    main section.article div.descriptif div.titre div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}