header {
    background-image: none;
    padding-bottom: 0;
    margin-top: 6rem;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.actions div div {
    margin: 2rem;
    text-align: center;
}
