{% extends "base.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/index.css") }}">{% endblock %}

{% block header %}
        <div class="header">
            <h1>Bienvenue sur MaPlante</h1>
            <p>Pour une vie plus verte</p>
        </div>
{% endblock %}

{% block body %}


<!-- SHOP -->
    <main>

        <h2>Top des ventes</h2>

        <div class="items">

            <section>
                <div class="image">
                    <a href="{{ path("item") }}"><img src="img/monstera-delisiosa.jpg" alt="monstera delisiosa"></a>
                    
                </div>
                <div class="descriptif">
                    <div>
                        <h3>Monstera Delisiosa</h3>
                        <i class="fa-regular fa-heart click"></i>
                    </div>
                    <small>Araceae</small>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <h4>15 €</h4>
                        <button>Ajouter au panier</button>
                    </div>
                </div>
            </section>

            <section>
                <div class="image">
                    <a href=""><img src="img/monstera-delisiosa.jpg" alt="monstera delisiosa"></a>
                    
                </div>
                <div class="descriptif">
                    <div>
                        <h3>Monstera Delisiosa</h3>
                        <i class="fa-regular fa-heart click"></i>
                    </div>
                    <small>Araceae</small>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <h4>15 €</h4>
                        <button>Ajouter au panier</button>
                    </div>
                </div>
            </section>

            <section>
                <div class="image">
                    <a href=""><img src="img/monstera-delisiosa.jpg" alt="monstera delisiosa"></a>
                    
                </div>
                <div class="descriptif">
                    <div>
                        <h3>Monstera Delisiosa</h3>
                        <i class="fa-regular fa-heart click"></i>
                    </div>
                    <small>Araceae</small>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <h4>15 €</h4>
                        <button>Ajouter au panier</button>
                    </div>
                </div>
            </section>

            <section>
                <div class="image">
                    <a href=""><img src="img/monstera-delisiosa.jpg" alt="monstera delisiosa"></a>
                    
                </div>
                <div class="descriptif">
                    <div>
                        <h3>Monstera Delisiosa</h3>
                        <i class="fa-regular fa-heart click"></i>
                    </div>
                    <small>Araceae</small>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <h4>15 €</h4>
                        <button>Ajouter au panier</button>
                    </div>
                </div>
            </section>

            <section>
                <div class="image">
                    <a href=""><img src="img/monstera-delisiosa.jpg" alt="monstera delisiosa"></a>
                    
                </div>
                <div class="descriptif">
                    <div>
                        <h3>Monstera Delisiosa</h3>
                        <i class="fa-regular fa-heart click"></i>
                    </div>
                    <small>Araceae</small>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <h4>15 €</h4>
                        <button>Ajouter au panier</button>
                    </div>
                </div>
            </section>

            <section>
                <div class="image">
                    <a href=""><img src="img/monstera-delisiosa.jpg" alt="monstera delisiosa"></a>
                    
                </div>
                <div class="descriptif">
                    <div>
                        <h3>Monstera Delisiosa</h3>
                        <i class="fa-regular fa-heart click"></i>
                    </div>
                    <small>Araceae</small>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <h4>15 €</h4>
                        <button>Ajouter au panier</button>
                    </div>
                </div>
            </section>





        </div>
    </main>

{% endblock %}