{% extends "base.html.twig" %}

{% block title %}
Connexion
{% endblock %}


{% block css %}<link rel="stylesheet" href="{{ asset("css/Login/style.css") }}">{% endblock %}



{% block body %}

<section id="login">

  <h1>Connexion</h1>


  <div>
    <form>

      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="name@example.com">

      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" placeholder="**********">

      <input type="submit" value="Se connecter">

    </form>

    <div id="other">
      <a href="">Mot de passe oublié ?</a>
      <a href="{{ path("signup") }}">Créer un compte</a>
    </div>
  </div>




</section>
{% endblock %}