/* LA PAGE DE CONNEXION */

main section#login div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main section#login form {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 25vw;
}


main section#login form input[type="submit"] {
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    border: 1px solid gray;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 6px;
}


@media screen and (min-width: 576px) {
    

}
