
{% extends "base.html.twig" %}

{% block title %}
Inscription
{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/Signup/style.css") }}">{% endblock %}


{% block body %}

<section id="signup">

    <h1>Inscription</h1>

    <form class="w-75">

        <div id="name-signup" class="d-sm-flex">

            <div class="row w-100">
                <label for="firstName">Prénom</label>
                <input type="text" name="firstName" id="firstName">
            </div>

            <div class="row w-100">
                <label for="lastName">Nom de famille</label>
                <input type="text" name="lastName" id="lastName">
            </div>

        </div>

        <div class="row w-100">

            <label for="birthday">Date de naissance</label>
            <input type="date" name="birthday" id="birthday">

            <label for="email">Email</label>
            <input type="email" name="email" id="email">

        </div>

        <div id="password-signup" class="d-sm-flex">

            <div class="row w-100">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="**********">
            </div>

            <div class="row w-100">
                <label for="password2">Confirmation du mot de passe</label>
                <input type="password" name="password2" id="password2" placeholder="**********">
            </div>

        </div>

        <div>
            <input type="submit" value="S'inscrire">
        </div>


    </form>



</section>

{% endblock %}