/* LA PAGE D'INCRIPTION */

main section {
    font-size: 1rem;
}

main section#signup form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

main section#signup form div {
    margin-left: 0;
}

main section#signup form label {
   padding-left: 0;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

main section#signup form div:last-of-type {
    margin: auto;
}

main section#signup form input[type="submit"] {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    border: 1px solid gray;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 6px;
}